.SwimLane {
  margin: 0em 1em;
  align-self: flex-start;
  width: 100%;
  min-height: 500px;
  height: 100%;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  padding: 10px;
  width: 100%;
}

.create-button {
  max-width: 250px;
  padding: 20px;
}

.newLane {
  display: flex;
}
