.SwimLane {
  margin: 0em 1em;
  align-self: flex-start;
  width: 100%;
  min-height: 500px;
  height: 100%;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  border-bottom: 2px solid;
  padding-bottom: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.create-button {
  max-width: 250px;
  padding: 20px;
}

.newLane {
  display: flex;
  width: 100%;
}

.newLane input {
  width: 100%;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid black;
}
.newLane button {
  margin-left: 3px;
  width: 100px;
  padding: 5px;
}

.list-group-item {
  padding: auto 0;
}

.list-group-flush {
  padding: 0;
}
